/* Start Global*/
* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
/* End global */


html {
    height: 100%;
    width: 100%;
}

/* Start body */
body {
    font-family: arial, tahoma;
    display: flex;
    flex-direction: column;
    min-height: 100%;;
    position: relative;
}
/* End body */



/* Start Header */
.welcome-header {
    background-color: rgb(44, 41, 41);
    color: white;
    text-align: center;
    padding: 20px;
}
/* End Header */



/* Start Nav */

nav ul {
    padding: 15px;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul a {
    text-decoration: none;
    color: white;
}

nav ul a:hover {
    color: blueviolet;
}

nav ul a:after {
    content: " |"
}

nav ul a:last-child:after {
    content: " "
}
/* End Nav */



/* Start table */
.t2 {
    position: relative;
    width: 44%;
    height: 25%;
    left: 28%;
    margin-top: 30px;
    padding: 30px;
    color: rgb(12, 1, 1)
}

.t2 p {
    position: relative;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

table {
    width: auto;
    height: auto;
    position: relative;
    background-color: rgb(56, 13, 13);
    padding: 13px;
    color: white;
}

th {
    text-align: left;
    background-color: rgb(65, 39, 39);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}
/* End table */



/* Start Footer */
footer {
    width: auto;
    background-color: rgb(17, 17, 17);
    color: white;
    text-align: center;
    padding: 20px 20px 35px 20px;
    margin-top: auto;
}

.footer-info {
    height: auto;
    width: auto;
    position: absolute;
    bottom: 6px;
    left: 3px;
}

.footer-info a {
    color: white;
    text-decoration: none;
}

.footer-info a:hover {
    color: rgb(116, 2, 116);
}
/* End Footer */
